<div class="card" *ngIf="product.title">
  <img class="card-img-top" src="{{ product.imageUrl }}" alt="{{product.title}}" *ngIf="product.imageUrl">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'USD':true }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button  *ngIf="getQuantity() === 0; else updateQuantity" (click)="addToCart()" class="btn btn-success btn-block">Add to cart</button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button class="btn btn-danger btn-block" (click)="removeFromCart()">-</button>
        </div>
        <div class="col text-center">
          {{ getQuantity() }} in cart
        </div>
          <div class="col-2">
              <button class="btn btn-success btn-block" (click)="addToCart()">+</button>
            </div>
      </div>
    </ng-template>
  </div>
</div>